<!-- Header -->
<!-- Header -->
	<div id="header-wrapper">
		<div id="header">

			<!-- Logo -->
				<h1 id="logo-texto"><a href="{{ site.baseurl }}/index.html">{{ site.name }}</a></h1>
				<h1 id="logo-grafico"><a href="{{ site.baseurl }}/index.html"><img src="/assets/logo.svg" /></a></h1>

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="current"><a href="index.html">Inicio</a></li>
						{% assign current = page.url | downcase | split: '/' %}
						<li {% if current[1] == 'nosotrxs.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/nosotrxs.html">Nosotrxs</a></li>
						<li {% if current[1] == 'proyecto.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/proyecto.html">El proyecto</a></li>
						<li {% if current[1] == 'participa.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/participa.html">Participá</a></li>
						<li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="{{ site.baseurl }}/blog">Blog</a></li>
						<li {% if current[1] == 'contacto.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/contacto.html">Contacto</a></li>
					</ul>
				</nav>

				<!-- <div class="header-img">
					<img src="{{ site.baseurl }}/assets/images/pic11.jpg">
				</div> -->

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>Grupo de Aprendizaje y Juego Libre <br/>en la Naturaleza</h2>
								<p>Monte Hermoso, Buenos Aires, Argentina</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="4u">
									<section class="first">

										<i class="icono-portada fas fa-code-branch"></i>
										<header>
											<h2>Pedagogías Alternativas</h2>
										</header>
										<p>Una propuesta educativa diferente e innovadora, basada en el modelo las Escuelas Bosque, la educación ambiental, las pedagogías libres y no directivas.</p>
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<i class="icono-portada fas fa-paper-plane"></i>
										<header>
											<h2>Educación no formal</h2>
										</header>
										<p>Un proyecto educativo enmarcado dentro de la Ley de Educación Nacional que aporta complemento a la enseñanza formal y también a los aprendizajes no escolarizados.</p>
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<i class="icono-portada fas fa-people-carry"></i>
										<header>
											<h2>Autogestivo y gratuito</h2>
										</header>
										<p>Una iniciativa sin fines de lucro, organizada de forma colectiva, sostenida con autofinanciamento y con apoyo de su comunidad local.</p>
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
									<li><a href="/proyecto" class="button big">Mas información</a></li>
									<li><a href="/participa" class="button alt big">¡Sumáte!</a></li>
								</ul>
							</footer>
						</section>

				</div>
			</div>
