<!-- Header -->
	<div id="header-wrapper">
		<div id="header">

			<!-- Logo -->
				<h1><a href="{{ site.baseurl }}/index.html">{{ site.name }}</a></h1>

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<!-- <li><a href="{{ site.baseurl }}/index.html">Inicio</a></li> -->
						{% assign current = page.url | downcase | split: '/' %}
						<li {% if current[1] == '' %}class='current'{% endif %}><a href="{{ site.baseurl }}/">Inicio</a></li>
						<li {% if current[1] == 'nosotros.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/nosotros.html">Nosotros</a></li>
						<li {% if current[1] == 'proyecto.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/proyecto.html">El proyecto</a></li>
						<li {% if current[1] == 'participa.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/participa.html">Participá</a></li>
						<li {% if current[1] == 'contacto.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/contacto.html">Contacto</a></li>
					</ul>
				</nav>

				<!-- <div class="header-img">
					<img src="{{ site.baseurl }}/assets/images/pic11.jpg">
				</div> -->

		</div>
	</div>
